.button12 {
  height: 40px;
  width: 145px;
  background-color: #4f46e5;
  color: white;
  border-style: none;
  margin-left: 30px;
  margin-top: 10px;
}
.mainContainer {
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-sm-bg.png');
  height: 100vh;
  width: 100vw;
  color: white;
  padding-top: 50px;
  padding: 60px;
}
